{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
  
<div id="cardropdown" class="pure-g">
<form name="tuning_files" id="tuning_files" method="get" action="/search-tuning-files">
    <h2>You can view all our tuning files specifications online</h2>
    <div class="pure-u-1 pure-u-md-4-24" >
        <select data-drupal-selector="edit-field-make-target-id" 
                id="edit-field-make-target-id" name="field_make_target_id" 
                class="form-select">
            <option value="All">Choose Make</option>
        </select>
    </div>
    <div class="pure-u-1 pure-u-md-4-24">
        <select data-drupal-selector="edit-field-model-target-id" id="edit-field-model-target-id" 
                name="field_model_target_id" class="form-select">
            <option value="All">Choose Model</option>
        </select>        
    </div>
    <div class="pure-u-1 pure-u-md-4-24" >
        <select data-drupal-selector="edit-field-generation-target-id" 
                id="edit-field-generation-target-id" name="field_generation_target_id" class="form-select">
            <option value="All">Choose Generation</option>
        </select>
    </div>
    <div class="pure-u-1 pure-u-md-4-24" >
        <select data-drupal-selector="edit-field-engine-target-id" 
                id="edit-field-engine-target-id" name="field_engine_target_id" class="form-select">
            <option value="All">Choose Engine</option>
        </select>
    </div>
    <div class="pure-u-1 pure-u-md-4-24last">
        <input type="image" name="search_file" value="Search" class="search_input"
               src="/themes/chipdyno/images/more.png">
    </div>
</form>
</div>
